@import "variables.scss";

#projects-container {
    padding: 0 0 30px;

    @media (max-width: 600px) {
        padding: 0 0 20px;
    }

    .projects-title {
        font-size: 18px;
        margin: 0 auto 10px;

        @media (max-width: 768px) {
            font-size: 22px;
            margin: 15px auto 20px;
        }
    }

    .grid-container {
        width: 90%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: auto auto auto;
        grid-gap: 20px;
        padding: 20px;
        background-color: #fff;

        @media (max-width: 1024px) {
            width: 100%;
        }

        @media (max-width: 768px) {
            grid-gap: 15px;
            padding: 15px;
        }

        @media (max-width: 600px) {
            grid-template-columns: auto auto;
            grid-gap: 5px;
            padding: 5px;
        }

        .grid-item {
            background-color: rgba(255, 255, 255, 0.8);
            text-align: center;
            padding: 0;
            font-size: 30px;

            .img-container {
                height: 100%;
                position: relative;
                padding-bottom: 0;

                .item-img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    display: block;
                }

                .img-middle-overlay {
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    height: 100%;
                    width: 100%;
                    opacity: 0;
                    transition: .3s ease;
                    background-color: rgba(225, 225, 225, .3);
                    cursor: pointer;
                    transition: .5s ease;
                    backface-visibility: hidden;

                    &:hover {
                        opacity: 1;
                    }
                

                    .search-icon {
                        color: rgba(42, 42, 42, .9);
                        font-size: 26px;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        -ms-transform: translate(-50%, -50%);
                        text-align: center;
                    }
                }

            }
        }

        .item1 {
            @extend .grid-item;
            grid-column: 1 / span 1;
            grid-row: 1;

            @media (max-width: 600px) {
                grid-column: 1 / span 1;
                grid-row: 1;
            }

        }
          
        .item2 {
            @extend .grid-item;
            grid-column: 2;
            grid-row: 1;

            @media (max-width: 600px) {
                grid-column: 1;
                grid-row: 2;
            }

        }
          
        .item3 {
            @extend .grid-item;
            grid-column: 3;
            grid-row: 1 / span 2;

            @media (max-width: 600px) {
                grid-column: 2;
                grid-row: 1 / span 2;
            }
        }
          
        .item5 {
            @extend .grid-item;
            grid-column: 2;
            grid-row: 2 / span 2;

            @media (max-width: 600px) {
                grid-column: 1;
                grid-row: 3 / span 2;
            }
        }
          
        .item8 {
            @extend .grid-item;
            grid-column: 1;
            grid-row: 4 / span 2;

            @media (max-width: 600px) {
                grid-column: 2;
                grid-row: 5 / span 2;
            }
        }
    }
}


/*----- Project Modal Box -----*/
.modal-box {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.75);
    display: flex;
    align-items: flex-start;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 1000;
    padding: 15px;


    .modal-content {
        position: relative;
        background: #fff;
        background-clip: padding-box;
        box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.25);
        margin: 0 auto;
        padding: 30px;
        max-width: 1100px;
        width: 100%;

        @media screen and (max-width: 768px) {
            padding: 15px;
        }

        .project-images-box {
            padding: 5px 15px;

            .project-img {
                width: 100%;
                margin-bottom: 30px;
            }
        }

        .project-info-box {
            font-size: 14px;
            color: $textColor;
            width: 94%;

            @media screen and (max-width: 768px) {
                width: 100%;
            }

            h2.pr-title {
                text-transform: uppercase;
                font-size: 24px;
                letter-spacing: 3px;
                margin-top: 5px;
                margin-bottom: 10px;
            }

            p.pr-subtitle {
                // text-transform: uppercase;
                font-size: 18px;
                letter-spacing: .5px;
                margin-bottom: 25px;
            }

            p.pr-description {
                font-size: 14px;
                margin-bottom: 10px;
            }

            .tech-stack {
                padding: 20px 0;
                display: flex;
                flex-wrap: wrap;

                .pr-skills-title {
                    text-transform: uppercase;
                    font-size: 16px;
                    margin-right: 10px;
                }

                .pr-skills {
                    margin-right: 7px;
                }
            }

            .project-links {
                padding: 20px 0;

                a {
                    display: inline-block;
                    background-color: $lightgray;
                    color: $textColor;
                    border: 1px solid $lightgray;
                    margin-right: 25px;
                    padding: 3px 10px;
                    text-transform: uppercase;
                    text-decoration: none;
                    transition: all .3s;

                    &:hover {
                        text-decoration: none;
                        border: 1px solid $textColor;
                    }
                }

                a[href=""] {
                    display: none;
                }
            }

            .back-btn {
                display: inline-block;
                margin-top: 30px;
                margin-bottom: 20px;
                padding: 10px 20px;
                border-radius: 0;
                background-color: $btnBrdColor;
                border: 1px solid $btnBrdColor;
                color: $white;
                font-size: 14px;
                font-weight: 600;
                text-transform: uppercase;
                cursor: pointer;
                transition: all .5s;

                @media screen and (max-width: 768px) {
                    margin-top: 20px;
                }
            
                &:hover {
                    background-color: lighten($btnBrdColor, 20%);
                    border: 1px solid lighten($btnBrdColor, 20%);
                }

            }
        }
    }
}

